In [1]:
# ワーニングメッセージを非表示にする
import warnings
warnings.simplefilter("ignore")

# データ分析によく使われるライブラリをインポートする
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Matplotlibを使っている際に、日本語のフォントを使うためのライブラリ
import japanize_matplotlib

# Jupyter NotebookでMatplotlibのグラフを表示するための設定
%matplotlib inline

# 機械学習モデルの作成に必要なライブラリをインポートする
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,roc_auc_score,confusion_matrix

# 以降のプログラムで使うための、各種ライブラリのインポートが完了した
from sklearn.preprocessing import StandardScaler

In [4]:
train = pd.read_csv('./original/train.csv')
test = pd.read_csv('./original/test.csv')
sample = pd.read_csv('./original/sample_submission.csv')

In [7]:
print('Train:',train.shape,"Test:",test.shape,"Sample:",sample.shape)

Train: (1200, 22) Test: (800, 21) Sample: (799, 2)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1200 non-null   int64
 1   battery_power  1200 non-null   int64
 2   blue           1200 non-null   int64
 3   clock_speed    1200 non-null   float64
 4   dual_sim       1200 non-null   int64
 5   fc             1200 non-null   int64
 6   four_g         1200 non-null   int64
 7   int_memory     1200 non-null   int64
 8   m_dep          1200 non-null   float64
 9   mobile_wt      1200 non-null   int64
 10  n_cores        1200 non-null   int64
 11  pc             1200 non-null   int64
 12  px_height      1200 non-null   int64
 13  px_width       1200 non-null   int64
 14  ram            1200 non-null   int64
 15  sc_h           1200 non-null   int64
 16  sc_w           1200 non-null   int64
 17  talk_time      1200 non-null   int64
 18  three_g        1200 non-null   int64
 19  touch_screen   1200 non-null   int64
 20  wifi           1200 non-null   int64
 21  price_range    1200 non-null   int64
dtypes: float64(2), int64(20)
memory usage: 206.4 KB

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             800 non-null    int64
 1   battery_power  800 non-null    int64
 2   blue           800 non-null    int64
 3   clock_speed    800 non-null    float64
 4   dual_sim       800 non-null    int64
 5   fc             800 non-null    int64
 6   four_g         800 non-null    int64
 7   int_memory     800 non-null    int64
 8   m_dep          800 non-null    float64
 9   mobile_wt      800 non-null    int64
 10  n_cores        800 non-null    int64
 11  pc             800 non-null    int64
 12  px_height      800 non-null    int64
 13  px_width       800 non-null    int64
 14  ram            800 non-null    int64
 15  sc_h           800 non-null    int64
 16  sc_w           800 non-null    int64
 17  talk_time      800 non-null    int64
 18  three_g        800 non-null    int64
 19  touch_screen   800 non-null    int64
 20  wifi           800 non-null    int64
dtypes: float64(2), int64(19)
memory usage: 131.4 KB

In [11]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 799 entries, 0 to 798
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       799 non-null    int64
 1   0       799 non-null    int64
dtypes: int64(2)
memory usage: 12.6 KB

In [14]:
train.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,0,1203,0,0.680981,1,1,1,23,0.402580,117,...,1331,721,1970,15,1,4,1,0,1,2
1,3,1203,1,2.602754,1,0,0,8,0.415612,194,...,1571,1262,1150,14,16,14,1,0,1,3
2,4,1980,1,2.604065,1,0,0,6,0.858110,122,...,364,721,1970,18,12,11,1,0,1,1
3,5,1185,1,2.669403,1,3,0,33,0.027065,132,...,447,1162,1950,15,3,19,1,0,0,2
4,7,1203,1,2.375453,0,4,1,12,0.141485,135,...,364,1917,1970,16,7,6,1,1,1,0